{% if edit is defined %}
    <a href="{{ edit }}" class="btn btn-sm btn-outline-warning">Edytuj</a>
{% endif %}

{% if remove is defined %}
    <a href="{{ remove }}" class="btn btn-sm btn-outline-danger">Usuń</a>
{% endif %}