<div class="row">
    <div class="col-md-7">
        {% if title is defined %} <h4> {{ title }} </h4>{% endif %}
    </div>
    <div class="col-md-5 text-right">
        {% if createUrl is defined %}
            <a href="{{ createUrl }}" class="btn btn-sm btn-outline-success">Dodaj</a>
        {% endif %}

        {% if cancelUrl is defined %}
            <a href="{{ cancelUrl }}" class="btn btn-sm btn-outline-danger">Anuluj</a>
        {% endif %}
    </div>
</div>